<hr>

<footer>

  <div class="grid-container">
    
    <div class="left">
      <h3>Fran Velasco</h3>
      <ul>
        <li><a href="{{ site.url }}/">Home</a></li>
        <li><a href="{{ site.url }}/now">Now</a></li>
        <li><a href="{{ site.url }}/journal">Journal</a></li>
        <li><br></li> 
        <li><a href="{{ site.url }}/biography">Biography</a></li>
        <li><a href="{{ site.url }}/contact">Contact</a></li>
        <li><a href="{{ site.url }}/friends">Friends</a></li>
        <li><a href="{{ site.url }}/colophon">Colophon</a></li>
        <li><br></li> 
        <li>{% include newsletter.html %}</li>
      </ul>
    </div>

    <div class="right footer-columns">

      {% for post in site.posts %}
        {% assign currentdate = post.date | date: "%Y" %}
        {% if currentdate != date %}
          {% unless forloop.first %}</ul>{% endunless %}
          
          <ul><h3>{{ currentdate }}</h3>
          {% assign date = currentdate %}
        {% endif %}
          <li><a class="{{ post.categories }}-fx" href="{{ post.url }}">{{ post.title }} <span class="{{ post.categories }} dot">●</span></a></li>
        {% if forloop.last %}</ul>{% endif %}
      {% endfor %}

  </div>

</footer>