<div class="grid-container">
  
  <div class="left">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.excerpt}}</h2>
    {{ page.date | date_to_string  }}<br>
    {{ page.info-place }}<br><br>
  	<span><a href="{{site.url}}/journal#{{ page.categories }}" class="{{ page.categories }}">{{ page.categories }}</a></span>
  </div>
  
  <div class="right">
  {{ content }}
  </div>

</div>