@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url(../fonts/LibreBaskerville-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url(../fonts/LibreBaskerville-Italic.ttf);
  font-style: italic;
  font-display: swap;
}

:root {
  /* fonts */
  --f-header: "Inter", sans-serif;
  --f-text: "Libre Baskerville", serif;
  /* body */
  --c-bg: #182022;
  --c-text: white;
  --c-detail: #cff;
  --c-bgfade: #ffffff10;
  --c-catpost: #ffffff35;
  /* categories */
  --c-culture: #98cfff;
  --c-gallery: #ffb1b1;
  --c-music: #ffedae;
  --c-photo: #adf5ca;
  --c-photoessay: #f6bfa6;
  --c-travel: #ffc6ef;
  --c-writing: #bafaff;
}

body {
  background: var(--c-bg);
  color: var(--c-text);
  height: 100%;
  line-height: 1.4;
  margin: 5vw;
  transition: .5 ease;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: var(--f-header), sans-serif;
  font-weight: 400;
  transition:all 0.25s linear;
}


/* —————————————— Typography —————————————— */

.big-text {font-size: 30px; line-height: 1.3}

h1 {font-size: 22px}
h2 {font-size: 18px; opacity: .6}
h3 {font-size: 18px; opacity: .3}
h6 {font-size: 14px; opacity: .4}

p {font-family: var(--f-text) ;font-size: 18px; line-height: 1.75}

h1, h2, h3, h6, p, .big-text {max-width: 700px}

.right ul li {
  line-height: 1.75;
}

a {
  text-decoration: none;
  color: var(--c-text);
}

p a, p a:visited {
  color: var(--c-detail);
  font-family: var(--f-text);
  font-style: italic;
}

p a:hover {
  color: var(--c-text);
}

p em, p i {
  font-family: var(--f-text);
  font-style: italic;
}

blockquote h1 {
  font-size: 30px;
  line-height: 1.2;
  margin-left: -100px;
  max-width: 600px;
}

hr {
  height: 1px;
  opacity: .15;
  border-width: 0;
  color: var(--c-text);
  background-color: var(--c-text);
}


/* —————————————— Header —————————————— */

header {
  padding: 20px 0 130px 0;
}
.logo {
  height: 45px;
}

/* —————————————— Accordion —————————————— */

.accordion {
  max-width: 700px;
  border-bottom: 1px solid var(--c-catpost);
}
.accordion h1 {
  margin-bottom: 5px !important;
}
.accordion input {
  display: none;
}

.accordion label {
  border-top: 1px solid var(--c-catpost);
  display: block;    
  cursor: pointer;
  position: relative;
}

.accordion label:hover {
  color: var(--c-detail);
}

.accordion label::after {
  content: '->';
  position: absolute;
  right: 0;
  top: 19px;
}

.accordion input:checked + label::after {
  content: '↑';
}

.accordion .content {
  padding: 10px 0 50px 0;
}

.accordion input + label + .content {
  display: none;
}

.accordion input:checked + label + .content {
  display: block;
}


/* —————————————— Categories —————————————— */

ul {
  list-style-type: none;
  max-width: 700px;
  padding: 0;
}
.category li {
  border-bottom: 1px solid;
  border-color: var(--c-catpost);
  font-size: 18px;
  padding-top: 20px;
}
.category li .info {
  float: right;
  opacity: .6;
  display: flex;
}
.category li .date {
  float: right;
  font-size: 80%;
  opacity: .3;
}
.category li h1 {
  padding-bottom: 0;
}


/* —————————————— Grid Container —————————————— */

.grid-container {
display: grid; 
grid-template-columns: repeat(12, 1fr); 
grid-template-rows: 1fr; 
grid-column-gap: 10px;
grid-row-gap: 10px; 
padding-bottom: 120px;
}
.left {grid-area: 1 / 1 / 2 / 5}
.right {grid-area: 1 / 6 / 2 / 13}

.left h1 {
  margin-bottom: 0;
}
.left h2 {
  margin: 0 0 25px 0;
}
.right hr {
  max-width: 700px;
  text-align: left;
  margin-left: 0;
}


/* —————————————— Footer —————————————— */

.footer {
  padding-top: 120px;
}
footer .left a:hover {
  color: var(--c-detail);
}
.footer-columns {
  column-count: 2;
}
.footer-columns ul {
  padding-top: .1px;
  break-inside: avoid;
}
.footer-columns h3 {
  padding-top: 0;
  margin-top: 0;
}
footer ul {
  font-size: 18px;
  line-height: 1.6;
  padding: 0;
  list-style-type: none;
}
footer ul li {
  overflow: hidden;
}
footer .dot {
  font-size: 65%;
  vertical-align: text-bottom;
}
.Writing {
  color: var(--c-writing);
}
.Writing-fx:hover::after {
  content: ' Writing';
  font-size: 65%;
  color: var(--c-writing);
}
.Music {
  color: var(--c-music);
}
.Music-fx:hover::after {
  content: ' Music';
  font-size: 65%;
  color: var(--c-music);
}
.Photography {
  color: var(--c-photo);
}
.Photography-fx:hover::after {
  content: ' Photo';
  font-size: 65%;
  color: var(--c-photo);
}
.Photoessay {
  color: var(--c-photoessay);
}
.Photoessay-fx:hover::after {
  content: ' Photoessay';
  font-size: 65%;
  color: var(--c-photoessay);
}
.Travel {
  color: var(--c-travel);
}
.Travel-fx:hover::after {
  content: ' Travel';
  font-size: 65%;
  color: var(--c-travel);
  vertical-align: 1px;
}
.Culture {
  color: var(--c-culture);
}
.Culture-fx:hover::after {
  content: ' Culture';
  font-size: 65%;
  color: var(--c-culture);
  vertical-align: 1px;
}
.Music {
  color: var(--c-music);
}
.Music-fx:hover::after {
  content: ' Music';
  font-size: 65%;
  color: var(--c-music);
  vertical-align: 1px;
}
.Gallery {
  color: var(--c-gallery);
}
.Gallery-fx:hover::after {
  content: ' Gallery';
  font-size: 65%;
  color: var(--c-gallery);
  vertical-align: 1px;
}
.blog-title-column h1,
.blog-title-column td {
  padding: 0px;
}


/* —————————————— Newsletter —————————————— */

.news-field {
  border: none;
  background-color: var(--c-bgfade);
  color: var(--c-bg);
  border-radius: 100px;
  font-size: 14px;
  height: 20px;
  width: 40%;
  outline-style: none;
}
.news-field:focus {
  background-color: var(--c-text);
  width: 80%;
}
::placeholder {
  color: var(--c-text);
  opacity: .2;
  padding: auto 0 2px 4px;
}
.news-button {
  border: none;
  background-color: rgba(0,0,0,0);
  color: var(--c-text);
  font-size: 20px;
  vertical-align: -1px;
  padding: 0;
}
.news-button:hover {
  color: var(--c-detail);
}


/* —————————————— Post Contact —————————————— */

.post-contact {
  margin-bottom: 120px;
}
.post-contact p {
  font-style: italic;
}


/* —————————————— Post —————————————— */

.single-img {
  max-width: 100%;
  padding: 50px 0;
}
img .img100 {
 width: 100%;
}

/* —————————————— Post Navigation —————————————— */

.post-navigation a {
  width: 50%;
  float: left;
  font-size: 14px;
}
.post-navigation .next {
  text-align: right;
}


/* —————————————— Post galleries —————————————— */

.gallery-post {
  width: 100%;
}
.gallery-post p {
  padding: 50px 0;
  min-width: fit-content;
}
p img {
  width: 100%;
  margin-bottom: 16px;
}
.offset {
 width: 135%;
 margin-left: -35%;
}
.gallery-post .vertical:nth-child(odd) {
 width: calc(50% - 16px);
 float: left;
 padding-bottom: 16px;
}
.gallery-post .vertical:nth-child(even) {
 width: calc(50% - 16px);
 float: right;
 padding-bottom: 16px;
}


/* —————————————— Galleries —————————————— */

.gallery-gallery p,
.gallery-gallery img {
  margin-bottom: 5vw;
  max-width: 100%;
}
.gallery-gallery .vertical:nth-child(odd) {
  width: calc(50% - 16px);
  float: right;
}
.gallery-gallery .vertical:nth-child(even) {
  width: calc(50% - 16px);
  float: left;
}


/* —————————————— Essays —————————————— */

.essay-title p {
  font-size: 50px;
  font-style: italic;
  line-height: 1;
  margin-bottom: 3vw;
}
.essay-title h1 {
  opacity: .6;
}
.gallery-photoessay p {
  margin-bottom: 20vw;
  max-width: 100%;
}
.gallery-photoessay img {
  background: white;
  padding: 7.5vw;
  max-width: 75vw;
  margin: 5vw auto;
}
.gallery-photoessay .vertical:nth-child(even) {
  width: 60%;
  float: right;
}
.gallery-photoessay .vertical:nth-child(odd) {
  width: 60%;
  float: left;
}


/* —————————————— Media quieries —————————————— */

@media (max-width: 1024px) {
.body {max-width: 600px !important}
.grid-container {grid-template-columns: 1fr; grid-template-rows: 1fr;}
.left {grid-area: 1 / 1 / 2 / 3;max-width: 700px}
.right {grid-area: 2 / 1 / 3 / 3;}
footer .grid-container {grid-template-columns: repeat(12, 1fr);; grid-template-rows: 1fr;}
footer .left {grid-area: 1 / 1 / 2 / 6}
footer .right {grid-area: 1 / 6 / 2 / 13}
.footer-columns {column-count: 1}
.offset {width: 100%; margin-left: 0;}
}
@media (max-width: 780px) {
.logo {height: 35px}
h1 {font-size: 20px}
h2 {font-size: 16px}
h3, p, .category li, li {font-size: 14px}
.big-text {font-size: 20px; }
.accordion label::after {top: 17px}
footer ul {font-size: 14px;}
.left, .right p {max-width: 450px}
.post-navigation a {font-size: 12px}
.gallery-photoessay img {padding: 5vw; max-width: 80vw; margin: 5vw auto;}
.vertical:nth-child(odd), .vertical:nth-child(even) {width:100% !important;}
.essay-title p {font-size: 28px;}
.category li .info {float: none; display: block;}
}
@media (max-width: 480px) {
footer .grid-container {grid-template-columns: 1fr; grid-template-rows: 1fr;}
footer .left {grid-area: 1 / 1 / 2 / 2}
footer .right {grid-area: 2 / 1 / 3 / 2}
}
