<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
	<link rel="stylesheet" href="{{ '/assets/css/light.css' | relative_url }}" />
  </head>
  <body style="background-color: #eeede7">
    {% include header.html %}
    <h1 class="big-text">{{ page.title }}</h1>
    <h2>{{ page.excerpt}}</h2><br>
    {{ page.date | date_to_string  }}<br>
    {{ page.info-place }}<br><br>
  	<span><a href="{{site.url}}/journal#{{ page.categories }}" class="{{ page.categories }}">{{ page.categories }}</a></span>
  	<br><br><br><br>{{ content }}<br><br><br><br>
    {% include next-prev.html %}
    {% include footer.html %}
  </body>
</html>