<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
	<link rel="stylesheet" href="{{ '/assets/css/light.css' | relative_url }}" />
  </head>
  <body>
    {% include header.html %}
    {% include wrapper.html %}
    {% include footer.html %}
  </body>
</html>