<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body style="background-color: #222324">
    {% include header.html %}
    {% include wrapper.html %}
    {% include next-prev.html %}
    {% include footer.html %}
  </body>
</html>